.channel {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  align-items: center;
}

.channelImg {
  width: 20%;
  flex-grow: 1;
}

.channelInfo {
  flex-grow: 10;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
}

.subscriptionBtn {
  width: 20%;
}