.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 73px;
  width: 100%;
  padding: 0rem 2rem;
  position: fixed;
  top: 0;
  background-color: var(--black-primary);
  z-index: 999;
}

/* styles for hamburger and youtube logo */
.headerStart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  color: var(--text-color-primary);
}

.headerStart > * {
  cursor: pointer;
}

.headerMenu {
  display: none;
}

.headerStart > div {
  display: flex;
  align-items: center;
}

.headerLogo {
  object-fit: contain;
  width: 34px;
}

.youtubeName {
  margin-left: 6px;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -1.5px;
}

/* styles for search bar */
.headerCenter {
  margin-inline: 1rem;
  flex-basis: 60%;
  display: flex;
  justify-content: center;
}

.headerCenter > form {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
  background-color: var(--black-primary);
  border-radius: 20px;
}

.headerCenter > form > input {
  flex-grow: 1;
  border: none;
  border-radius: 18px 0 0 18px;
  background-color: transparent;
  color: var(--text-color-secondary);
  padding-inline: 1rem;
  border: 2px solid var(--border-color);
}

.headerCenter > form > input:focus {
  outline: none;
}

.headerCenter > form > div {
  border-right: 1px solid var(--border-color);
}

.headerCenter > form > button {
  color: var(--text-color-secondary);
  background-color: var(--border-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0 18px 18px 0;
}

.headerCenter > form > button:focus {
  border: none;
}

/* styles for notifications, apps, and profile photo */
.headerEnd {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  color: var(--text-color-primary);
}

.headerEnd > img {
  object-fit: contain;
  width: 36px;
  border: 50%;
}

.headerEnd > * {
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .header {
    padding: 0 1rem;
  }

  .youtubeName {
    display: none;
  }

  .headerCenter > form {
    flex-grow: 1;
  }

  .headerCenter {
    flex-grow: 1;
  }
}

@media screen and (max-width: 450px) {
  .headerEnd > *:not(img) {
    display: none;
  }

  .headerMenu {
    display: block;
    cursor: pointer;
  }

  .headerStart > div {
    display: none;
  }
}