.video {
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.video > * {
  color: white;
}

/* style video thumbnail */
.videoTop {
  position: relative;
}

.videoTop > span:nth-child(1) {
  width: 100%;
}

.videoTop img {
  width: 100%;
  object-fit: contain;
}

.videoTop > span:nth-child(2) {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color: var(--black-primary);
  padding-inline: 0.25rem;
  border-radius: 0.5rem;
}

/* style video info like video title, video creator, no.of views, etc */
.videoInfo {
  display: flex;
  gap: 0.5rem;
}

.videoInfo img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.videoDetails {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.videoDetails > div {
  display: flex;
  flex-direction: column;
}

.videoTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

@media screen and (max-width: 570px) {
  .videoTop > span:nth-child(2)  {
    right: 3.5rem;
  }
}

@media screen and (max-width: 450px) {
  .videoTop > span:nth-child(2)  {
    right: 0.5rem;
  }
}