.comments {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.comments > p {
  margin-bottom: 0;
  font-size: 1.25rem;
}

/* styles for comment form */
.commentsForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.commentsForm > img {
  width: 36px;
  height: 36px;
  object-fit: contain;
  border-radius: 50%;
}

.commentsForm > input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--border-color);
  padding: 0.5rem;
  color: white;
  transition: border-color 0.2s ease-in;
}

.commentsForm > input:focus {
  outline: none;
  border-color: white;
}

.commentsForm > button {
  background-color: #60a5fa;
  border: none;
  padding: 0.25rem 0.75rem;
  height: 2.2rem;
  border-radius: 1.1rem;
}

.commentsForm > button:hover {
  background-color: #93c5fd;
}

/* styles for comments list */
.commentsList {
  display: flex;
  flex-direction: column;
}